@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@500&display=swap');

.w-13 {
    width: 13%;
}

.w-87 {
    width: 87%;
}

.font-dance {
    font-family: 'Dancing Script', cursive;
  }
  
  input {
    font-family: 'Roboto', sans-serif;
  }
  
  .font-robo {
    font-family: 'Roboto', sans-serif;
  }
  
.w-90 {
  width: 90%;
}

.h-85 {
  height: 85vh;
}

.bcg {
  background-color: #CE7B7B;
}

.background {
  background-color: #a659599d;
}

.today {
  border: 1px solid rgb(229, 201, 196);
  border-radius: 5px;
  width: 70%;
  padding: 2px 0;
}

.showButton {
  display: none;
}

.hideButton {
  display: none;
}

@media screen and (max-width:490px) {
  .hideButton {
      width: 25px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      left: 10px;
      top: 22px;
      z-index: 3;
      transition: 0.5s all;
      display: block;
  }

  .hideButton::after {
      content: '';
      width: 25px;
      height: 2px;
      background-color: #fff;
      top: -7px;
      display: block;
      position: absolute;
      /* transition: 0.5s all; */
  }
  
  .hideButton::before {
      content: '';
      width: 25px;
      height: 2px;
      background-color: #fff;
      top: 7px;
      display: block;
      position: absolute;
      transition: 0.5s all;
  }

  .showButton {
      width: 25px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      left: 10px;
      transform: rotate(45deg);
      top: 22px;
      z-index: 3;
      transition: 0.5s all;
      display: block;
  }

  .showButton::after {
      content: '';
      width: 25px;
      height: 2px;
      background-color: #fff;
      display: block;
      position: absolute;
      transform: rotate(90deg);
      transition: 0.5s all;
      top: -0.5px;
  }

  .w-13 {
    width: 28%;
  }

  .background {
    width: 100%;
    height: 100vh;
    background-color: #ffe3e37d;
    position: absolute;
    filter: blur(4px);
  }
}